{% extends 'index.html' %}
{% block content %}
    <div class="col-12">
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <h2 class="lead text-gray-800 mb-5">Page Not Found :(</h2>
            <p class="lead text-gray-800 mb-5">Oops! 😖 The requested URL was not found on this server.</p>
            <img
                    src="{{ url_for('static', filename='img/page-misc-error-light.png') }}"
                    alt="page-misc-error-light"
                    width="500"
                    class="img-fluid"
                    data-app-dark-img="illustrations/page-misc-error-dark.png"
                    data-app-light-img="illustrations/page-misc-error-light.png"
            />
        </div>
        <a href="{{ url_for('main.home') }}">&larr; Back to Home</a>
    </div>

{% endblock %}