{% extends 'index.html' %}
{% block content %}
    <div class="col-12">
        <h3 class="text-primary"><b> Welcome to TubePlunger+ System. </b></h3>
        <br>
        <div style="text-align: center">
            <iframe width="1000" height="500" src="https://www.youtube.com/embed/p2Zl_56A3Fw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <br>
        <br>
        <h5><b>Purposes:</b></h5>
        <p><b>TubePlunger</b> aims to provide an intelligent data analytics platform for understanding social conflicts
            and biases on various contexts. Particularly, this system focuses on data collection/analysis/visualization
            from
            online social services (e.g., YouTube). Potential users will include social scientists and policy makers who
            want to conduct data-driven research.
            <br>
            <br>
            As a case study on Korean politics, the current TubePlunger system has been applied to understand political
            polarization during Korean presidential election in 2022, and shown meaningful insights and ideas for
            reducing the political conflicts among people.</p>
        <ol>
            <li>TubePlunger system provides the insight view about the morphological of left-wing and right-wing
                from the user activity on YouTube by statistical visualization. From the dashboard, with each channel,
                we
                can observe how the sentiment in comments is distributed both in each video and in whole channel, the
                changes in published comments of each video over time, and the top 20 active users with their
                corresponding
                number of comments, which cannot be synthesized if only using YouTube.
            </li>
            <li>System allows us to get inside into users by their history of comments with the detailed
                information such as the name of channels, the number and the frequency of comments, and the sentiment of
                comments by clicking on the top users list or searching their username.
                Finally, this system grants users to collect information from YouTube with any wanted channel to see the
                statistics visualization and their political bias degree by our method and to download the structured
                data
                for any analysis.
            </li>

        </ol>
        <p><b>No programming skill required</b>, we believe that any user using our system can easily and creately
            conducting
            their survey or research and survey by exploiting TubePlunger.</p>

    </div>
{% endblock %}